{% extends "base.html" %} {% block title %}register!{% endblock title %} {%
block head %} {{ super() }} {% endblock head %} {% block content %}
<form
    class="card flex flex-col gap-2"
    style="max-width: 600px; margin: 0 auto"
    onsubmit="
        event.preventDefault();
        register(event);
    "
>
    <input type="text" name="username" placeholder="Username" required />
    <input type="password" name="password" placeholder="Password" required />
    <button class="button w-max-content" type="submit">Register</button>
</form>

<script>
    function register(e) {
        const username = e.target.username.value;
        const password = e.target.password.value;

        if (!username || !password) {
            alert("please fill in all fields");
            return;
        }

        fetch("/api/v1/users", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ username, password }),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.ok) {
                    window.location.href = "/";
                } else {
                    alert(`registration failed: ${res.message}`);
                }
            })
            .catch((error) => {
                console.error("error:", error);
            });
    }
</script>
{% endblock content %}
